{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}

    <div class="col-sm-8">
        {#
        <span class="badge pull-right">{{ object.commentsCount }}</span>

        <strong>{{ object.title }}</strong>
        <br />
        #}
        <a href="{{ admin.generateUrl('edit', {'id' : object|sonata_urlsafeid }) }}"><strong>{{ object.url }}</strong></a>


        {#
        <div class="small hide2">
        </div>
        #}
        <br>
        <a href="#notes-{{object.id}}" class="label label-info" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="notes-{{object.id}}}}">
            notes
        </a>
        <div class="collapse" id="notes-{{object.id}}">
                <ul class="list-group">
                    {% for type, note in object.notes %}
                        <li class="list-group-item">
{#                            
                            {{ type|truncate(150) }} ->
                            {{ note|truncate(150) }}
#}
                            {{ type }} ->
                            {{ note  }}
                        </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}


{#
    <ul class="list-group">
        {% for note, type in object.notes %}
            <li class="list-group-item">{{type}}:{{ note|e }}</li>
            {% endfor %}
    </ul>
</div>
#}

